[class*="span"]{margin-left:0px;}
.span6{width:575px;}
.span5{width:500px;}
.span1{width:55px;}
.select-wh{width:200px;}
.width100{width:70px;margin-left:10px;}
.input-wh {width:180px;}
a{color:#000;}
a:hover {color:#000;text-decoration: none;}